@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: v;
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
}

body {
  position: relative;
  width: 100vw;
  height: 100%;
  font-size: 16px;
  font-family: "Kumbh Sans";
  overflow-x: hidden;
}

main {
  padding: 20px 150px;
}

ul,
li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 2px solid var(--light-grayish-blue);
  padding-bottom: 15px;
}

.subheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.subheader .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.subheader .nav > img {
  margin-right: 20px;
}
.subheader .nav a:hover {
  border-bottom: 2px solid var(--orange);
  padding-bottom: 32px;
}
.subheader li {
  padding-left: 20px;
}
.subheader .header-imgs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.subheader .header-imgs .avatar:hover {
  border: 2px solid var(--orange);
  border-radius: 50%;
}
.subheader .header-imgs img {
  max-width: 50px;
  max-height: 50px;
  margin: 0 20px;
}

#section {
  width: 90%;
  margin: auto;
  margin-top: 80px;
}

.container {
  display: flex;
  gap: 5%;
  align-items: center;
}

.image-display-container {
  width: 100%;
}

.image-display {
  width: 80%;
}
.image-display > img {
  width: 100%;
  height: 46%;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--orange);
}
.image-display > img:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: 200ms;
}

.thumbnails {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  gap: 10px;
}
.thumbnails img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
.thumbnails a {
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}
.thumbnails a:hover {
  opacity: 0.8;
}
.thumbnails a:focus img, .thumbnails a:active img {
  outline: 2px solid var(--orange);
  opacity: 0.4;
}

.product-info-container {
  width: 100%;
}

.product-info h4 {
  color: var(--orange);
  margin-bottom: 10px;
}
.product-info h2 {
  margin-bottom: 30px;
  font-size: 40px;
}
.product-info h2 + p {
  padding-bottom: 30px;
}
.product-info .newprice {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product-info .newprice span {
  padding: 5px;
  background-color: var(--pale-orange);
  margin-left: 10px;
  color: var(--orange);
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
}
.product-info .oldprice {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--grayish-blue);
}

.check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-right: 20px;
  align-items: center;
  gap: 3%;
}
.check .quantity {
  background-color: var(--light-grayish-blue);
  padding: 15px;
  border-radius: 10px;
  width: 37%;
  text-align: center;
}
.check .quantity span {
  margin-inline: 20%;
}
.check .quantity img:hover {
  cursor: pointer;
}
.check .addToCart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: var(--orange);
  color: var(--white);
  padding: 15px;
  border-radius: 10px;
  width: 60%;
}
.check .addToCart:hover {
  cursor: pointer;
  background-color: var(--orange);
  box-shadow: 0 0 10px var(--orange);
}
.check p {
  margin: 0;
  margin-left: 10px;
  padding: 0;
}

.lightbox {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  backdrop-filter: blur(2px);
  background-color: hsla(0deg, 0%, 0%, 0.75);
}

#lightbox-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-display {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  z-index: 1;
}

#close-icon {
  position: absolute;
  top: -30px;
  right: 0;
}
#close-icon:hover {
  transform: scale(1.08);
}

.icon-next {
  position: absolute;
  top: 140px;
  right: -15px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: var(--pale-orange);
}
.icon-next:hover {
  transform: scale(1.1);
  background-color: var(--orange);
  filter: opacity(0.6);
}
.icon-next img {
  width: 10px;
  height: 10px;
}

.icon-prev {
  position: absolute;
  top: 140px;
  left: -15px;
  border-radius: 50%;
  background-color: white;
  padding: 5px 10px;
}
.icon-prev:hover {
  transform: scale(1.1);
  background-color: var(--pale-orange);
  opacity: 0.6;
}
.icon-prev img {
  width: 10px;
  height: 10px;
}

.image {
  width: 290px;
  height: 300px;
  border-radius: 10px;
}

.lightbox-thumbnails {
  margin: auto;
}
.lightbox-thumbnails img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 5px;
}
.lightbox-thumbnails a {
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}
.lightbox-thumbnails a:hover {
  opacity: 0.8;
}
.lightbox-thumbnails a:focus img, .lightbox-thumbnails a:active img {
  filter: brightness(120%);
  outline: 2px solid var(--orange);
  opacity: 0.7;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cart-container {
  display: none;
  width: 290px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px grey;
  position: absolute;
  top: 80px;
  right: 150px;
  animation: fadeIn 500ms;
  -webkit-animation: fadeIn 500ms;
  -moz-animation: fadeIn 500ms;
  -o-animation: fadeIn 500ms;
  -ms-animation: fadeIn 500ms;
  z-index: 3;
}
.cart-container > p {
  padding: 20px 0 15px 20px;
  border-bottom: 1px solid var(--grayish-blue);
  font-weight: bold;
  font-size: 20px;
}

.emptycart-container {
  display: none;
  width: 290px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px grey;
  position: absolute;
  top: 80px;
  right: 150px;
  animation: fadeIn 500ms;
  -webkit-animation: fadeIn 500ms;
  -moz-animation: fadeIn 500ms;
  -o-animation: fadeIn 500ms;
  -ms-animation: fadeIn 500ms;
  z-index: 3;
}
.emptycart-container > p {
  padding: 20px 0 15px 20px;
  border-bottom: 1px solid var(--grayish-blue);
  font-weight: bold;
  font-size: 20px;
}

.emptynote {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: auto;
}

.cart-wrapper {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-between;
  margin-top: 10px;
  width: 95%;
  align-items: center;
  padding-left: 10px;
}

.cart-details {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 10px;
}

.cart-calc {
  display: flex;
  gap: 10px;
}

.checkout {
  padding: 12px 0;
  width: 95%;
  background-color: var(--orange);
  border-radius: 10px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin: auto;
  margin-top: 10px;
}

.cartimage {
  position: relative;
}
.cartimage:hover {
  opacity: 0.8;
}

.cart-notif {
  position: absolute;
  display: none;
  width: 13px;
  height: 13px;
  text-align: center;
  top: -5px;
  right: 15px;
  color: white;
  background-color: var(--orange);
  z-index: 1;
  border-radius: 50%;
  font-size: 9px;
}

.menu {
  display: none;
}

.slide {
  display: none;
  width: 290px;
  height: 300px;
}

.slide-image {
  width: 100%;
  border-radius: 10px;
}

.display {
  display: block;
}

#display {
  display: block;
}

.lightboxcloneCover {
  display: none;
}

@media screen and (max-width: 1024px) {
  #section {
    width: 100%;
    margin: 0;
  }
  main {
    padding: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .lightboxcloneCover {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lightboxcloneCover .icon-prev {
    top: 50%;
    left: 8%;
  }
  .lightboxcloneCover .icon-next {
    top: 50%;
    right: 8%;
  }
  .lightboxcloneCover .image {
    width: 500px;
    height: 500px;
  }
  .lightboxcloneCover {
    width: 100%;
  }
  .image-display-container {
    display: none;
  }
  .product-info-container {
    width: 85%;
    margin: 25px 0;
  }
}
.attribution {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  background-color: var(--orange);
  height: 40px;
  margin-top: 10px;
}
.attribution a {
  color: red;
  margin-left: 5px;
  font-weight: bold;
}
.attribution a:hover {
  color: rgb(101, 3, 3);
}

.mobilenav {
  display: none;
  position: absolute;
  z-index: 4;
  background-color: hsla(0deg, 0%, 0%, 0.75);
  opacity: 1;
  width: 100%;
  height: 100%;
}
.mobilenav > div {
  background-color: white;
  width: 200px;
  height: 100vh;
}
.mobilenav img {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 20px 10px;
}
.mobilenav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mobilenav ul li {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}
.mobilenav .display {
  display: block;
}

@media screen and (max-width: 650px) {
  .nav ul {
    display: none;
  }
  .menu {
    display: inline-block;
    margin-left: 20px;
    margin-right: 0;
  }
  .lightboxcloneCover {
    width: 100vw;
  }
  .lightboxcloneCover .image {
    width: 100vw;
    height: 450px;
    border-radius: 0;
  }
  .check {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    gap: 20px;
  }
  .check .quantity {
    background-color: var(--light-grayish-blue);
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
  }
  .check .quantity span {
    margin-inline: 20%;
  }
  .check .quantity img:hover {
    cursor: pointer;
  }
  .check .addToCart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: var(--orange);
    color: var(--white);
    padding: 15px;
    border-radius: 10px;
    width: 100%;
  }
  .check .addToCart:hover {
    cursor: pointer;
    background-color: var(--orange);
    box-shadow: 0 0 10px var(--orange);
  }
  .attribution {
    height: 70px;
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
    font-size: 12px;
  }
}
@media screen and (max-width: 450px) {
  .lightboxcloneCover .image {
    width: 100vw;
    height: 80vw;
    border-radius: 0;
  }
  .cart-container,
.emptycart-container {
    width: calc(100vw - 40px);
    height: 70vw;
    top: 70px;
    left: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
